.home{
    padding-top: 100px;

    @media (max-width: 750px) {
        padding-top: 40px;
    }

    &__reembolso{
        width: 80%;
        margin: 0 auto;

        h1{
            color: #041F8F;
            max-width: 505px;
            margin: 5px;
        }

        h2{
            color: #041F8F;
            max-width: 375px;
            margin: 5px;
        }

        p{
            color: #84888C;
            max-width: 450px;
            margin: 0px;
        }

        .respondemos{ 
            color: #0285C9;
            
            @media (max-width: 750px) {
                text-align: center;
            }
        }

        img{
            width: 100%;
        }

        &--backimg{
            max-width: 90%;
            border-radius: 10px;
        }

        @media (max-width: 750px) {
            flex-direction: column-reverse !important;
            flex-wrap: wrap !important;
            margin-bottom: 50px;
            width: 90%;

            .col-6{
                width: 100%;
                flex: 1;
            }
        }
    }

    &__controle{
        width: 80%;
        margin: 0 auto;

        h1{
            color: #041F8F;
            max-width: 505px;
            margin: 5px;
        }

        h2{
            color: #041F8F;
            max-width: 375px;
            margin: 5px;
        }

        p{
            color: #84888C;
            max-width: 450px;
            margin: 0px;
        }

        img{
            width: 100%;
        }

        &--backimg{
            max-width: 100%;
            border-radius: 10px;

            @media (max-width: 750px) {
                margin: 0 auto;
            }
        }

        @media (max-width: 750px) {
            width: 90%;

            .col-6{
                width: 100%;
            }
        }
    }

    &__organizar{
        background-color: #0285C9;
        max-width: 90%;
        margin: 130px auto;
        border-radius: 15px;

        &--text{
            max-width: 347px;
            margin: 80px auto;

            h2{
                color: #FFFFFF;
                max-width: 313px;
                margin: 10px 0px;
            }

            p{
                color: #FFFFFF;
                max-width: 347px;
                margin: 5px 0px;
            }

            @media (max-width: 750px) {
                margin: 10px auto;
                max-width: 90%;
            }
        }

        &--img{
            position: relative;

            img{
                position: absolute;
                right: 20px;
                bottom: 0px;
                width: 90%;

                @media (max-width: 750px) {
                    position: relative;
                    display: block;
                    width: 100%;
                    max-width: 360px;
                    margin: 0 auto;   
                }
            }
        }

        @media (max-width: 750px) {
            width: 100%;
            max-width: 100%;
            border-radius: 0px;
            margin: 50px auto;

            .col-6{
                width: 100%;
            }
        }
    }

    &__reduzir{
        background-color: #F6F9FC;
        max-width: 90%;
        margin: 130px auto;
        border-radius: 10px;
        padding-top: 50px;

        h2{
            line-height: 137%;
            align-items: center;
            text-align: center;
            color: #041F8F;
        }

        h3{
            text-align: center;
            color: #303D63;
        }

        p{
            line-height: 28px;
            align-items: center;
            text-align: center;
            max-width: 638px;
            margin: 0 auto;
            color: #84888C;
        }

        &--icons{
            width: 100%;
            margin: 0 auto;

            &---swiper {
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;

                .swiper-wrapper{
                    max-height: 1300px;

                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        height: calc((100%) / 2);
                  
                        /* Center slide text vertically */
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .content-box{
                            margin: 100px 0px;

                            h3{
                                max-width: 312px;
                                margin: 5px 0px;
                                margin-top: 30px;
                            }
    
                            p{
                                max-width: 330px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 750px) {
            display: none !important;
        }
    }

    &__vantagens{
        max-width: 90%;
        margin: 0 auto;

        &--text{
            margin: 0 auto;

            h2{
                line-height: 137%;
                color: #303D63;
                max-width: 372px;
            }

            p{
                color: #84888C;
                max-width: 309px;
            }
        }

        &--box{
            border: 2px solid #F6F9FC;
            box-sizing: border-box;
            border-radius: 20px;

            max-width: 256px;
            height: 145px;

            margin: 0 auto;
        }

        @media (max-width: 750px) {
            display: none !important; 
        }
    }

    &__decida{
        margin: 100px 0px;

        h2{
            line-height: 137%;
            align-items: center;
            text-align: center;
            color: #303D63;
        }

        h3{
            text-align: center;
        }

        p{
            line-height: 28px;
            align-items: center;
            text-align: center;
            max-width: 770px;
            margin: 0 auto;
            color: #84888C;
        }

        img{
            margin: 0 auto;
            display: block;
        }

        &--esquerda{
            margin: 50px 0px;
            border-right: 1px solid #84888C;

            h3{
                color: #84888C;
            }

            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #84888C !important;

                padding: 10px 0px;
            }
        }

        &--direita{
            margin: 50px 0px;

            h3{
                color: #303D63;
            }

            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #303D63 !important;

                padding: 10px 0px;
            }
        }

        @media (max-width: 750px) {
            display: none !important;
        }
    }

    &__gestao{
        max-width: 90%;
        margin: 0 auto;
        border-radius: 16px;
        padding: 70px 0px;

        background-image: url("/wp-content/themes/Martin/assets/images/home/gestao.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &--text{
            margin: 0 auto;
            display: block;

            h2{
                line-height: 137%;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                margin: 0px;
            }
    
            p{
                align-items: center;
                text-align: center;
                max-width: 770px;
                margin: 0 auto;
                color: #FFFFFF;
            }

            a{
                margin: 20px auto;
                align-items: center;
                display: block;
                max-width: 220px;
            }
        }

        @media (max-width: 750px) {
            display: none !important;
        }
    }

    &__posts{
        max-width: 80%;
        margin: 30px auto;

        h2{
            font-weight: bold;
            line-height: 32px;
            padding: 0px 12px;
            color: #041F8F;
        }

        &--box{
            max-width: 352px;
            height: 381px;
            margin: 0 15px;
            border-radius: 6px;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            p{
                position: absolute;
                bottom: 15px;
                left: 15px;

                font-weight: 500;
                line-height: 16px;
                text-transform: uppercase;

                color: #FFFFFF;
            }
        }

        @media (max-width: 750px) {
            display: none !important;
        }
    }

    &__feedback{


        h2{
            font-weight: 500;
            line-height: 137%;
            text-align: center;
            color: #303D63;
        }

        &--emojis{
            margin: 0 auto;
            max-width: 245px;

            a{
                img{
                    margin: 0 auto;
                }
            }
        }

        @media (max-width: 750px) {
            display: none !important;
        }
    }
}